.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}
.THIS.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.THIS.td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}